@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;700&display=swap');
:root {
    --cor-de-fundo:#000000;
    --vinho:#316507;
    --branco:#3aac2d;
    --botao-ativo:#8bec41;
    --botao-inativo: rgba(239, 172, 205, 0.205);
    --texto-fundo: rgba(4, 195, 229, 0.5);
}
header{
display: grid;
background-color: rgb(26, 242, 6);


}
.imagem-cabecalho{
  width: 35%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.trator-texto-1{
    font-size: 24px;

}
.cabecalho-lista-item{
  display: flex;
  justify-content: center;
  padding: 50px 0;
  font-size: 50px;
}
.conteudo-principal{
  display:inline;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  max-width: 1998px;
  width: 100%;
  margin: 1 auto;
}
.titulo-principal{
  text-align: left;
  width: 100%;
  font-size: 32px;
}
.titulo-principal span{
  color: var(--preto);
}
.trator-titulo{
  justify-content: center;
  align-items: center;

}

